.navigation-player {
	width: 100%;
	height: 50px;
}

.navigation-player-color {
	color: var(--brand-color);
}

.navigation-player-color:hover, .navigation-player-color:active {
	color: var(--brand-color);
	text-decoration: none;
}
