.header-albums {
	font-size: 1.8rem;
	letter-spacing: .3rem;
	color: var(--brand-color);	
}

.link-color {
	color: white;	
}

.link-color:hover, .link-color:active {
	text-decoration: none;
	color: white;
}
